/* ==========================================================================
   Panels
   ========================================================================== */

.panel {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  line-height: 1.5;
  background: #fff;
  border-radius: $base-border-radius * 2;
  box-shadow: 0 0 0 4px rgba($base-color, 0.08), 0 0 32px 8px rgba($base-color, 0.16);

  &__headline,
  &__body,
  &__body-inner,
  &__footer {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.panel__header,
.panel__footer {
  @extend .antialiased;
  position: relative;
  z-index: 2;
  color: #fff;
  padding: $global-spacing;
  background: $primary-color;

  a, a:visited {
    color: inherit;
  }

  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5rem;
    content: '';
    background: linear-gradient(rgba($primary-color, 0.16), rgba($primary-color, 0));
  }
}

.panel__header {
  border-radius: ($base-border-radius * 2) ($base-border-radius * 2) 0 0;
  &::after {
    top: 100%;
  }
}

.panel__title {
  @include heading(1.25rem);
  margin: 0;
}

.panel__subtitle {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
  opacity: 0.8;
  text-transform: uppercase;
  .drop__toggle {
    &:visited, & {
      color: $base-font-color;
    }
  }
}

.panel__headline,
.panel__meta-actions {
  display: table-cell;
  
  &, > * {
    vertical-align: top;
  }
}

.panel__headline {
  width: 100%;
}

.panel__meta-actions {
  text-align: right;
  white-space: nowrap;

  > * {
    margin-left: 0.5rem;
  }

  > .button:last-child {
    margin-right: - $global-spacing / 4;
  }
}

.panel__tab-nav {
  margin: ($global-spacing / 4) 0 (- $global-spacing) 0;
}

.layers-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  > li {
    float: left;
    margin: 0 $global-spacing 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.layers-menu-item {
  position: relative;
  padding: 0 0 ($global-spacing / 2) 0;
  line-height: 1.5rem;
  display: block;
  font-weight: $base-font-bold;
  font-size: 0.75rem;
  text-transform: uppercase;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: transparent;
    content: '';
  }

  &--active::before {
    background: #fff;
  }

  @include media(medium-up) {
    &::before {
      left: 0;
      height: 4px;
      width: 100%;
    }
  }
}

.panel__footer {
  border-radius: 0 0 ($base-border-radius * 2) ($base-border-radius * 2);
  min-height: 1rem;

  &:empty {
    padding: 0;
  }

  &::after {
    bottom: 100%;
    transform: scaleY(-1);
  }
}

.panel__body {
  position: relative;
  z-index: 1;

  > *:last-child {
    margin-bottom: 0;
  }
}

.panel__body-inner {
  padding: $global-spacing;
}

.panel-blank-message {
  text-align: center;
  padding: ($global-spacing * 8) ($global-spacing * 2);
  color: rgba($base-font-color, 0.64);
}


/* Panel modifers
   ========================================================================== */

.panel--secondary {
  .panel__header,
  .panel__footer {
    background: $secondary-color;

    &::after {
      background: linear-gradient(rgba($secondary-color, 0.16), rgba($secondary-color, 0));
    }
  }
}


/* Panel buttons
   ========================================================================== */

.panel__button-dismiss {
  @extend .button, .button--achromic-unbounded, .button--small, .button--text-hidden;

  &:before {
    @extend %collecticon-sm-xmark;
  }
}

.panel__button-more {
  @extend .button, .button--achromic-unbounded, .button--small, .button--text-hidden;
  
  &:before {
    @extend %collecticon-ellipsis-vertical;
  }
}