/* ==========================================================================
   Content
   ========================================================================== */


/* Explore section
   ========================================================================== */
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  pointer-events: none;
  > * {
    pointer-events: auto;
  }
}

.canvas--panels {
  // z-index: 100;

  .panel {
    position: absolute;
    top: $global-spacing * 2;
  }
}

.canvas--map {
  z-index: 1;
}

#panel-layers {
  width: 20rem;
  left: $global-spacing * 2;
}

#panel-results {
  width: 16rem;
  right: $global-spacing * 2;

  .panel__title {
    @include heading(1rem);
  }
}