/* ==========================================================================
   Page: Explore / Control Panel
   ========================================================================== */

#control-panel {
  position: absolute;
  top: $global-spacing;
  left: $global-spacing;
  bottom: $global-spacing;
  z-index: 100;
  width: 20rem;

  .panel__body {
    height: calc(100% - 10.75rem);
    overflow: auto;
    .panel__body-inner {
      padding: 0;
    }
  }

  // temp work for functionality
  li {
    list-style: none;
  }
  .group {
    padding: 0.25rem 0.5rem;
    background-color: $base-alpha-color;
  }
  .indicator, .base-layer {
    & > div {
      padding: 0.25rem;
      border-bottom: 1px solid $primary-color;
      h3, h5 { margin-bottom: 0.25rem; }
    }
    .slider-wrapper {
      padding: 1.5rem;
      padding-bottom: 3.5rem;
      .noUi-connect {
        background-color: $primary-color;
      }
    }
  }

  @include media(xlarge-up) {
    top: $global-spacing * 2;
    left: $global-spacing * 2;
    bottom: $global-spacing * 2;
  }
}