/* ==========================================================================
   Page: Explore / Country Selection
   ========================================================================== */

.country-selection {

  /* Animation */
  @include animation(step-reveal 0.32s ease 0s 1);
}

.country-selection__title {
  @extend .visually-hidden;
}


/* Step: Options
   ========================================================================== */

.options-list {
  @include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(center);
  list-style: none;
  padding: 0;
  margin: -$global-spacing / 2;
}

.options-list__item {
  @include flex(0 1 18rem);
  margin: $global-spacing;
}

.card--country__flag {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: $full-border-radius;
  box-shadow: 0 0 0 4px #fff, 0 0 0 8px $base-semi-alpha-color;
  overflow: hidden;
  transform: translate(-50%, 25%);
  text-align: center;
  background: tint($base-color, 96%);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
  }
}

.card--country__details,
.card--scenario__details {
  @extend .clearfix;
  dt, dd {
    float: left;
  }
  dt {
    width: 40%;
    clear: left;
    padding-right: $global-spacing / 2;
  }
  dd {
    width: 60%;
    padding-left: $global-spacing / 2;
    margin-bottom: 0;
    opacity: 0.8;
  }
  dd + dd {
    margin-left: 40%;
  }
}