/* ==========================================================================
   Page: Explore
   ========================================================================== */

.page--explore {
  .page__footer,
  .layout__header {
    @extend .visually-hidden;
  }

  .layout__body {
    padding: 0;

    > .inner {
      position: relative;
      padding: 0;
      margin: 0;
      height: calc(100vh - 3rem);
      max-width: none;

      @include media(large-up) {
        height: calc(100vh - 5rem);
      }
    }
  }
}