/* ==========================================================================
   Page: Explore / Map
   ========================================================================== */

#map {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
