/* ==========================================================================
   Page: Explore / Size of the Prize Panel
   ========================================================================== */

#prize-panel {
  @include display(flex);
  @include flex-direction(column);
  position: absolute;
  top: $global-spacing;
  right: $global-spacing;
  z-index: 80;
  width: 17rem;
  max-height: calc(100% - #{$global-spacing * 2}); // once max-height is reached, the body becomes scrollable

  .panel__header {
    @include flex(0 0 auto);
  }

  .panel__body {
    @include flex(1 1 auto);
    overflow-y: scroll;
  }

  .panel__title {
    @include heading(1rem);
  }

  .panel__footer {
    @include flex(0 0 auto);
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  @include media(xlarge-up) {
    top: $global-spacing * 2;
    right: $global-spacing * 2;
    max-height: calc(100% - #{$global-spacing * 4});
  }
}


/* Tooltip
   ========================================================================== */

#prize-panel {
  [data-tooltip] {
    position: relative;
    padding-right: 1.5rem;
    cursor: help;
  }

  [data-tooltip]:after {
    @extend %collecticon-circle-information;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0.48;
    transform: translate(0, -50%);
    font-size: 1rem;
  }

  [data-tooltip]:hover:before {
    @extend .antialiased;
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    max-width: 12rem;
    height: auto;
    margin-top: $global-spacing / 4;
    overflow: hidden;
    padding: ($global-spacing / 4) ($global-spacing / 2);
    text-align: left;
    background: rgba($base-color, 0.80);
    border-radius: $base-border-radius;
    color: #fff;
    font-weight: $base-font-weight;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}


/* Prize table
   ========================================================================== */

.table-wrapper {
  margin: (- $global-spacing) !important;
}

#prize-table {
  font-size: 0.875rem;
  line-height: 1.5rem;
  white-space: nowrap;
  margin-bottom: 0;
  width: 100%;

  tr > *:first-child {
    text-align: right;
  }

  th, td  {
    padding: ($global-spacing / 2) ($global-spacing / 4);
  }

  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }

  th:last-child,
  td:last-child {
    padding-right: 1rem;
  }

  thead th,
  thead td {
    text-transform: uppercase;
    font-weight: $base-font-bold;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba($base-font-color, 0.64);
    background: tint($base-color, 96%);
    box-shadow: inset 0 -1px 0 0 $base-semi-alpha-color;

    small {
      display: block;
      font-size: 0.675rem;
    }
  }

  tfoot th,
  tfoot td {
    @extend .antialiased;
    background: tint($base-color, 32%);
    color: #fff;
    box-shadow: none;
    padding-top: ($global-spacing / 2);
    padding-bottom: ($global-spacing / 2);
  }

  tfoot th {
    color: rgba(#fff, 0.64)
  }

  .form__group {
    margin-bottom: 0;
  }

  .form__addon-label {
    min-width: 2rem;
  }
}