/* ==========================================================================
   Page: Home
   ========================================================================== */

.page--home {
  .layout__header {
    background-image: url('../graphics/layout/home-hero-image-01b.jpg');
    background-position: center center;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      content: '';
      background: rgba($primary-color, 0.8);
      background: linear-gradient(45deg, rgba($primary-color, 1) 0%, rgba($primary-color, 0.96) 32%, rgba($secondary-color, 0.64) 100%);
    }
  }

  .layout__body {
    padding: 0;
  }
}

.cta-button-explore,
.cta-button-learn {
  @extend .button, .button--secondary;

  &::after {
    @extend %collecticon-sm-chevron-right;
  }
}

.cta-button-explore {
  @extend .button--xlarge;
}

.cta-button-learn {
  @extend .button--large;
}


/* Highlight list
   ========================================================================== */

.highlight-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.highlight-list__item-wrapper {
  @include col(12/12);
  margin-bottom: $global-spacing * 2;

  @include media(small-up) {
    @include col(4/12);
    margin-bottom: 0;
  }
}

.highlight-list__item {
  position: relative;
  text-align: center;

  &::before {
    @extend %collecticon-sm-tick;
    display: block;
    display: block;
    margin: 0 auto $global-spacing;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    border-radius: $full-border-radius;
    background: $secondary-color;
    display: block;
    width: 6rem;
    height: 6rem;
    line-height: 3 !important;
    box-shadow: 0 0 0 8px rgba($base-color, 0.08);

    @include media(small-up) {
      font-size: 4rem;
      width: 8rem;
      height: 8rem;
      line-height: 2 !important;
    }
  }

  &.h-view::before {
    @extend %collecticon-map;
  }

  &.h-access::before {
    @extend %collecticon-page-lock-open;
  }

  &.h-contribute::before {
    @extend %collecticon-github;
  }
}


/* Features list
   ========================================================================== */

.features-list {
  list-style: none;
  padding: 0;

  li {
    display: block;
    position: relative;
    padding-left: 2rem;
    font-weight: $base-font-bold;
    margin-bottom: $global-spacing / 4;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      @extend %collecticon-sm-tick;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      text-align: center;
      font-size: 1rem;
      color: #fff;
      border-radius: $full-border-radius;
      background: $secondary-color;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.25rem 0;
    }
  }
}

/* Prose specific */

.prose--responsive {
  > .features-list {

    li:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      li {
        padding-left: 2.75rem;
        margin-bottom: $global-spacing / 2;
        
        &::before {
          top: 0;
          width: 2rem;
          height: 2rem;
          padding: 0.5rem 0;
        }
      }
    }
  }
}


/* Stats list
   ========================================================================== */

.stats-list {
  @extend .clearfix;
  list-style: none;
  padding: 0;

  li {
    @include col(4/12);
    position: relative;
  }

  .term,
  .value {
    display: block;
  }

  .term {
    font-size: 0.75rem;
    line-height: 1;
    opacity: 0.8;
    text-transform: uppercase;

    @include media(medium-up) {
      font-size: 0.875rem;
    }
  }

  .value {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: $global-spacing / 4;

    &::before {
      position: absolute;
      top: 50%;
      left: 104%;
      z-index: 1;
      transform: translate(0, -50%);
      width: $global-spacing / 4;
      height: 50%;
      background: rgba(#fff, 0.16);
      content: '';
    }

    @include media(medium-up) {
      font-size: 3rem;
    }
  }

  li:last-child .value::before {
    display: none;
  }
}


/* Showcase / Why folds
   ========================================================================== */

#showcase-fold,
#why-fold {
  position: relative;
  overflow: hidden;

  .media-content {
    @include media(medium-up) {
      position: absolute;
      width: 100vw;
    }

    @include media(large-up) {
      width: 68vw;
    }

    @include media(xlarge-up) {
      transform: translate(0, -$global-spacing * 2);
      max-width: 52rem;
    }
  }
}