/* ==========================================================================
   Page: Home
   ========================================================================== */

.page--home {
  .layout__body {
    padding: 0;
  }
}


/* Features list
   ========================================================================== */

.features-list {
  list-style: none;
  padding: 0;

  li {
    display: block;
    position: relative;
    padding-left: 1.75rem;
    font-weight: $base-font-bold;

    &:before {
      position: absolute;
      top: 0.125rem;
      left: 0;
      z-index: 1;
      text-align: center;
      font-size: 1rem;
      color: #fff;
      border-radius: $full-border-radius;
      @extend %collecticon-sm-tick;
      background: $primary-color;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      line-height: 1.25rem;
    }
  }
}

/* Prose specific */

.prose--responsive {
  > .features-list {
    @include media(medium-up) {
      li {
        padding-left: 2rem;
        
        &:before {
          top: 0.25rem;
          width: 1.5rem;
          height: 1.5rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}


/* Stats list
   ========================================================================== */

.stats-list {
  @extend .clearfix;
  list-style: none;
  padding: 0;

  li {
    @include col(4/12);
    position: relative;
  }

  .term,
  .value {
    display: block;
  }

  .term {
    font-size: 0.75rem;
    line-height: 1;
    opacity: 0.8;
    text-transform: uppercase;

    @include media(medium-up) {
      font-size: 0.875rem;
    }
  }

  .value {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: $global-spacing / 4;

    &::before {
      position: absolute;
      top: 50%;
      left: 104%;
      z-index: 1;
      transform: translate(0, -50%);
      width: $global-spacing / 4;
      height: 50%;
      background: rgba($base-color, 0.08);
      content: '';
    }

    @include media(medium-up) {
      font-size: 3rem;
    }
  }

  li:last-child .value::before {
    display: none;
  }
}