/* ==========================================================================
   Page
   ========================================================================== */

.page {
  background: tint($base-color, 96%);
}


/* Header
   ========================================================================== */

.page__header {
  position: relative;
  z-index: 100;
  background: rgba(#fff, 0.96);
  color: $base-font-color;
  box-shadow: 0 0 64px 32px rgba($primary-color, 0.12);

  > .inner {
    @extend .row;
  }
}


/* Headline */

.page__headline {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  float: left;

  a {
    display: inline-block;
    color: inherit;
  }

  * {
    margin-bottom: 0;
  }
}

.page__title {
  font-size: 0.875rem;
  line-height: 1rem;
  margin: 0;

  @include media(medium-up) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.page__subtitle {
  font-size: 0;
  visibility: hidden;
  opacity: 0;

  @include media(medium-up) {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    opacity: 0.48;
    visibility: visible;
  }
}

/**
 * Prime Nav styles:
 * _s-page-prime-nav.scss
 */


/* Body
   ========================================================================== */

.page__body {
  @extend .clearfix;
}


/* Footer
   ========================================================================== */

.page__footer {
  position: relative;
  z-index: 8;
  background: #fff;
  color: $base-font-color;
  padding: 2rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba($base-font-color, 0.64);
  text-align: center;

  > .inner {
    @extend .row;
  }
  
  *:last-child {
    margin-bottom: 0;
  }

  @include media(small-up) {
    text-align: initial;
  }
}

.credits {
  @include col(12/12);
  @include media(small-up) {
    @include col(6/12);
  }

  &--internal {
    padding-bottom: $global-spacing * 2;

    @include media(small-up) {
      padding-bottom: 0;
    }
  }

  &--external {
    @include media(small-up) {
      text-align: right;
    }
  }
}

.attribution-wbg-ifc {
  a {
    display: inline-block;
  }

  img {
    vertical-align: top;
    height: 2.5rem;
    width: auto;
    opacity: 0.64;
  }

  span {
    @extend .visually-hidden;
  }
}


/* ==========================================================================
   layout
   ========================================================================== */

.layout {
  &__header {
    @extend .antialiased;
    background: $primary-color;
    color: #fff;
    padding: {
      top: $global-spacing * 2;
      right: 0;
      bottom: $global-spacing * 2;
      left: 0;
    }

    > .inner {
      @extend .row, .row--centered;
    }

    @include media(medium-up) {
      padding: {
        top: $global-spacing * 3;
        bottom: $global-spacing * 3;
      }
    }

    @include media(xlarge-up) {
      padding: {
        top: $global-spacing * 4;
        bottom: $global-spacing * 4;
      }
    }
  }

  &__headline {
    @include col(12/12);

    > *:last-child {
      margin-bottom: 0;
    }
    
    @include media(medium-up) {
      @include col(10/12);
    }

    @include media(large-up) {
      @include col(8/12);
    }
  }

  &__title {
    @extend .heading, .heading--large;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: $base-font-regular;
    color: rgba(#fff, 0.48);
    font-size: 0.875rem;
    line-height: 1.25;
    margin: 0;

    @include media(medium-up) {
      position: absolute;
      transform: translate(0, -100%);
    }
  }

  &__introduction {
    color: rgba(#fff, 0.64);
    font-size: 1.25rem;
    line-height: 1.75rem;

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__body {
    padding: {
      top: $global-spacing * 2;
      bottom: $global-spacing * 2;
    }

    > .inner {
      @extend .row, .row--centered;
    }

    @include media(medium-up) {
      padding: {
        top: $global-spacing * 3;
        bottom: $global-spacing * 3;
      }
    }

    @include media(large-up) {
      padding: {
        top: $global-spacing * 4;
        bottom: $global-spacing * 4;
      }
    }
  }

  &__prose-content {
    @include col(12/12);

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      @include col(10/12, $offset: 1/12);
    }

    @include media(large-up) {
      @include col(8/12, $offset: 2/12);
    }
  }
}